body {
background-color: #F7E3D6;
background-image:url("../images/fon.jpg");
background-position: center;
background-repeat: repeat;
margin: 0;
display: table;
min-height: 100vh;
width: 100%;
}

h1 {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


p {
    margin-left: 20px;
    }


 a {
        text-decoration: none;
        color: rgb(34, 32, 32);
    }
    
a:hover {
        color: rgb(128, 126, 126);   
    }
    

    
.menu { 
     margin-right: 2%;
list-style-type: none;  
text-align: right;
font-size: 25px;
}

.menu li {
display: inline-block;
margin-left: 10px;
margin: 10px 10px 20px 10px;
font-family: "Pacifico", cursive;
font-weight: 400;
font-style: normal;
}

.main {
    
    font-size: 19px;
margin-bottom: 10px;
display: table-row;
height: 100%;
}

 
    
.main img{
    width: 390px;
    height: 550px;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 50px;  
}

.main ul {
    list-style-type:  none;
    margin-bottom: 10px; 
    margin-top: 10px;

}

.footer {
    font-size: 19px;
    text-align: right;
    width: 98%;
}

.footer span {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}





